@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fredoka+One&display=swap&family=Varela+Round&display=swap");

:is(body, a, h1, h2, h3, h4, h5, h6, p, li, ul, ol) {
    margin: 0;
}

body {
    --main-font: "Varela Round", sans-serif;
    --lightpink: #ffeef2;
    --pink: #F5A9B8;
    --darkpink: #c6314f;
    --blue: #5BCEFA;
    --grayout: rgba(0, 0, 0, 0.7);
    --darkblue: #23647e;
    --lightblue: #ddf7fc;
    text-align: center;
    height: 100vh;
    /* scroll-behavior: smooth; */
    box-sizing: content-box;
    font-size: 16px;
    font-family: var(--main-font);
    background-color: lightcoral;
}

.warning {
    text-align: left;
    color: red;
    width:48ch;
}

#smooth-scroll {
    overflow: hidden hidden;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    color: white;
}

p,
a {
    font-family: var(--main-font);
}

footer>p,
footer>p>a {
    text-transform: uppercase;
}


header {
    background-color: var(--blue);
    height: 100vh;
    display: grid;
    grid-template:
        "a a a" 1fr
        "b c d" 2fr
        "e e e" 1fr / 1fr 8fr 1fr;
    box-sizing: content-box;
    scroll-snap-align: start;
    justify-items: center;
    align-items: center;
}

.start-container {
    border: 2px solid white;
    border-radius: 25px;
    width: fit-content;
    padding: 3em 2em 3em 2em;
    grid-area: c;
    justify-content: space-between;
    /* width: fit-content; */
    max-height: 20em;
    max-width: 40ch;
}

.hidden {
    visibility: hidden;
}

main {
    padding: 0em;
    box-sizing: content-box;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    overflow: hidden auto;
    scroll-snap-type: y mandatory;

}

#progress {
    border-radius: 0;
    left: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#progress::-webkit-progress-bar,
#progress::-moz-progress-bar {
    background-color: yellow;
    border-radius: 7px;
}

progress::-webkit-progress-value {
    background-color: lime;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    align-items: center;
}

.pink {
    background-color: var(--pink);
}

.blue {
    background-color: var(--blue);
}

footer,
nav {
    font-size: 0.675em;
    position: fixed;
    z-index: 3;
    top: 0;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);

}

nav {
    display: flex;
    gap: 1em;
}

td {
    font-size: 80%;
}

footer {
    right: 0;
    border-bottom-left-radius: 2em;
}

@media screen and (min-width: 43.75em) {
    #nav-container {
        flex-direction: row;
    }

}

@media screen and (min-width: 41.875em) {
    td {
        font-size: 100%;
    }
}