@charset "utf-8";

.options-container {
    /* width: 40em; */
    justify-content: center;
    align-items: center;
}

.options-container {
    gap: 1em 2em;
}

.medicine-type>div {
    gap: 1em;
    justify-content: center;
    margin: 1em 0em;
}

.medicine-type>h3 {
    margin-bottom: 1em;
}

.medicine-type-logo {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 0 -32px 0;
    z-index: 2;
}

.medicine-choice>h4+p {
    font-size: 0.75em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0em 1em;
}

.medicine-choice {
    /* overflow: hidden; */
    white-space: nowrap;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
    width: 26ch;
    /* box-shadow: 5px 5px 20px 2px rgba(0,0,0,0.3); */
}

table {
    border: 2px solid black;
    width: 100%;
    max-width: fit-content;
    padding: 1em;
}

thead>tr>td {
    border-bottom: 2px solid black;
}

th[scope="rowgroup"] {
    background: rgba(0, 0, 0, 0.3);
}

th,
td {
    text-align: left;
}

.costValue,
.align-right {
    text-align: right;
}

.costValue::before {
    content: "$";
}

.summary-category {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    text-align: center;
}

label>input[type=radio] {
    display: none;
}

.medicine-choice:has(> input:checked) {
    box-shadow: 0px 0px 0px 5px var(--blue);
    transition: box-shadow 0.3s ease-in;
}

.hospital-option:has(> input:checked) {
    color: white;
    background: var(--pink);
    transition: border 0.3s linear, transform 0.3s, linear;
    box-sizing: content-box;
    transition: border 0.3s linear;
}

.medicine-choice h6 {
    text-align: left;
}

.medicine-choice>section {
    margin: 1em 1em;
}

.medicine-info>* {
    margin: 0.5em 0em;
}

.hospital-options>div {
    margin-top: 1em;
    justify-content: center;
    gap: 1em;
}

.hospital-option {
    padding: 1em;
    border: 1.5px solid var(--pink);
    border-radius: 10px;
}

.hospital-option:hover {
    background-color: var(--pink);
    color: white;
    transition: all 0.2s ease-out;
}

.hospital-option:active {
    transform: scale(0.9);
    transition: all 0.3s linear;
}

.hospital-option:disabled {
    color: gray;
}

.gallery-options {
    width: 100vh;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0);
}

.gallery-options::-webkit-scrollbar {
    /* padding-top: 1em; */
    width: 10%;
    height: 15px;
    /* width of the entire scrollbar */
}

.gallery-options::-webkit-scrollbar-track {
    background: none;
    /* color of the tracking area */
}

.gallery-options::-webkit-scrollbar-thumb {
    /* width: 40%; */
    background-color: rgba(255, 255, 255, 0.5);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
}