@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fredoka+One&display=swap&family=Varela+Round&display=swap");

:root {
    --pink: #F5A9B8;
    --blue: #5BCEFA;
    --grayout: rgba(0, 0, 0, 0.7);
    --darkblue: #23647e;
    --lightblue: #ddf7fc;
}

body {
      margin:0px;
      display: flex;
      flex-direction: column;
      height:100%;
}

.starter {
    position: absolute;
    top: 250px;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width:fit-content;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    color: white;
    background-color: var(--pink);
    border-style: solid;
    border-radius: 60px;
    z-index: 2;
}

.starter:hover {
    color: var(--pink);
    background-color: white;
}

.instructions {
    position: absolute;
    top: max(42vh, 340px);
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width:fit-content;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    color: #FFF;
    background-color: transparent;
    border-style: solid;
    border-radius: 60px;
    z-index: 2;
    animation: jello;
    animation-duration: 1s;
}

.choices {
    display: flex;
    height: 100%;
    background-color: green;
}

.choices:hover > .choice > a > .screen {
    background-color: var(--grayout);
}

.choices:hover > .choice > a:hover > .screen {
    background-color: transparent;
}

.choice:hover > a:hover {
    background-color: transparent;
}

.choice:hover > a:hover > .choice_logo_shape {
    animation: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
H1:hover + .choice_logo_shape:hover {
    animation: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

div.choice:hover > a > .choice_logo_shape {
    animation-play-state: paused;
    animation-duration: 3s;
    animation-iteration-count: 1;
}


.choice {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    justify-content: flex-start;
}

#testosterone {
    background-color: var(--blue);
    color: var(--blue);
}

#estrogen {
    background-color: var(--pink);
    color: var(--pink);
}

a {
    height: 100%;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    z-index: 1;
    animation-iteration-count: 0;
}

.screen {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 2;
}

.choice_logo_shape {
    background-color: white;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;;

}

.choice_logo_text {
    font-family: 'Fredoka One', cursive;
    font-size: 120px;
    /* border: 2px;
    border-style: solid; */
}

.choice_text {
    color: #FFF;
    font-size: 24px;
    padding-top: 0px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    right: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    align-content: right;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 15px;
    z-index: 3;
    font-family: 'Fredoka One', cursive;
    text-decoration:none;
    color: var(--blue);
    overflow: hidden;
}

#mute {
    position: absolute;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    background-color: transparent;
    color: var(--darkblue);
    top: 0px;
    right: 0px;
    margin-top: 15px;
    margin-right: 15px;
    z-index: 4;
    border-color: var(--darkblue);
    border-style: solid;
    padding: 10px;
    border-radius: 20px;
    text-align: right;
}

footer p {
    color: purple;
    margin-top: 0;
    margin-bottom: 0;
}
footer a {
    vertical-align: top;
    height: 0px;
    visibility:hidden;
}
footer a:hover {
    color: var(--pink);
}
footer:hover {
    height:6.5rem;
    animation: resize;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer:hover > a{
    height: fit-content;
    visibility:visible;
    margin-top: 8px;
}

@keyframes resize {
    0% {height:20px;}
    100% {height:6.5rem;}
}