@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fredoka+One&display=swap&family=Varela+Round&display=swap");

:root {
    --pink: #F5A9B8;
    --blue: #5BCEFA;

  }

  body {
      margin:0px;
      display: flex;
      flex-direction: column;
      height:100%;
  }

div#instruction {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: var(--blue);
    background-color: #ebebeb;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 60px;

    position: absolute;
    width:fit-content;
    left: 20;
    right: 20;
    margin-left: auto;
    margin-right: auto;
    top:400px;
    padding: 0px 20px 0px 20px;
    display: inline-block;
    z-index: 2;
}

div#hrt_choices {
    display: flex;
    width: 100%;
    height: 100%;
}

div.choice {
    width:50%;
}

div#choice_estrogen {
    background-color: var(--pink);
}

div#choice_testosterone {
    background-color: var(--blue);
}
.choice_logo_shape {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.choice_logo_text {
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    /* border: 2px;
    border-style: solid; */
}

#choice_logo_estrogen {
    color: var(--pink);
}
#choice_logo_testosterone {
    color: var(--blue);
}
#choice_text {
    color: #FFF;
    font-size: 30px;
    padding-top: 0px;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    margin: 0px;
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    text-align: right;
    align-content: right;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 15px;
}

a {
    font-family: 'Fredoka One', cursive;
    text-decoration:none;
    color: var(--blue);
}
a:hover {
    color: var(--pink);
}

a#divlink {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}