@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Fredoka+One&display=swap&family=Varela+Round&display=swap");

:root {
    --pink: #F5A9B8;
    --blue: #5BCEFA;

  }

  body {
      margin:0px;
      display: flex;
      flex-direction: column;
      height:100%;
  }
.objects {
    display: flex;
    flex-direction: column;
}
.instructions {
    height: 100%;
}
H1 {
    position: absolute;
    top: max(42vh, 340px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width:fit-content;
    font-family: 'Varela Round', sans-serif;
    text-transform: capitalize;
    color: #FFF;
    background-color: transparent;
    border-style: solid;
    border-radius: 60px;
    z-index: 2;
}
div.instruction
section {
    z-index: 1;
}
div.buttons {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

div.choices {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: green;
}

a.divlink {
    display: fixed;
    height: 100%;
    width:50%;
    height:100%;
    top:0;
    z-index: 0;
/*
    background-color: blue; */

    font-style: normal;
    text-decoration: none;
}
/*
.choices:hover > .choice > a {
    background-color: rgba(0, 0, 0, 0.5);
} */
.screen {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: 2;
}
.choices:hover > .choice > a > .screen {
    background-color: rgba(0, 0, 0, 0.5);
}

.choices:hover > .choice > a:hover > .screen {
    background-color: transparent;
}

a {
    height: 100%;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    z-index: 1;
}

.choice:hover > a:hover {
    background-color: transparent;
}

.choice:hover > a:hover > .choice_logo_shape {
    animation-play-state: running;
}

.choice {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    justify-content: flex-start;
}

#testosterone {
    background-color: var(--blue);
    color: var(--blue);
}

#estrogen {
    background-color: var(--pink);
    color: var(--pink);
}



.choice_logo_shape {
    background-color: white;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border-radius: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    animation-play-state: paused;
}

.choice_logo_text {
    font-family: 'Fredoka One', cursive;
    font-size: 120px;
    /* border: 2px;
    border-style: solid; */
}
.choice_text {
    color: #FFF;
    font-size: 24px;
    padding-top: 0px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    text-align: right;
    align-content: right;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 15px;
    z-index: 3;
}
a#footer {
    font-family: 'Fredoka One', cursive;
    text-decoration:none;
    color: var(--blue);
}
a#footer:hover {
    color: var(--pink);
}

